body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 60px;
    color: gray;
}

h2 {
    font-size: 40px;
    color: gray;
}

.first {
    color: orange;
}

.order {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 15px 30px;
    border-radius: 20px;
    color: white;
}

.gym p {
    padding-bottom: 30px;
    color: gray;
}

.gym {
    display: flex;
}

.half-width {
    width: 50%;
}


.half-width img {
    width: 100%;
}

.another {
    padding-top: 5%;
    padding-left: 5%;
}

.img {
    padding-bottom: 150px;
    padding-right: 5%;
}

.third {
    display: flex;
}

.four {
    width: 100%;
}

.second img {
    width: 40%;
    padding-left: 30%;

}

.five {
    width: 50%;
    padding-right: 15%;
    padding-top: 10%;
}

.contact {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 15px 30px;
    border-radius: 20px;
}

.third p {
    font-size: large;
    padding-top: 20px;
    padding-bottom: 80px;
}


.third {
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 50px;

}